@mixin clear{
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
@mixin centered{
	margin: 0 auto;
	position: relative;
	@include clear;
}
@mixin bg{
	background-repeat: no-repeat;
	background-color: transparent;
	background-attachment: scroll;
	background-position: 0 0;
}

/* Variables */
$mouthw: 1px;
$mouthw2: 5px;
$start-mouth: 317px;
$start-lip: 304px;

/* Animations */
@keyframes breathe-1 {
	from {
		/*top: $start-mouth;*/
		border-bottom: $mouthw solid #f9f9f9; 
	}
	
	to {
		/*top: $start-mouth + 4;*/
		border-bottom: $mouthw + 3 solid #f9f9f9;	
	}

}
.centered{
	@include centered;
	width: 800px;
	background-color: #f9f9f9;
}
h1{
	font-size: 20px;
	color: #444444;
	font-family: Arial, sans-serif;
}
.face{
	background-image: url('talkingface.png');
	@include bg;
	background-size: auto 500px;
	min-height: 500px;	
}
.mouth{

	border-bottom: $mouthw solid #f9f9f9; 
	border-left: $mouthw2 solid transparent; 
	border-right: $mouthw2 solid transparent; 
	-moz-border-image: url('border.png') 5 5 repeat;
	left: 313px;
	top: $start-mouth;
	height: 0; 
			width: 20px;
			position: relative;
			animation-duration: 1s;
			animation-name: breathe-1;
			animation-iteration-count: infinite;
			animation-direction: alternate;

}
.underlip{			

	@include bg;
	position: relative;
	left: 305px;
	top: $start-lip;
	display: block;
	background-image: url('lip.png');
	background-size: 49px auto;
	min-height: 25px;
	width: 49px;
	
}
