<section class="row-col fullsize">
	<div class="center-box">
		<div class="part-1">
			<h1 id='title'>About</h1>
			<p>
				Lorem ipsum dolor sit amet, consetetur sadipscing elitr, 
				sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, 
sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. 
Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. 
Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod 
tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. 
At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
no sea takimata sanctus est Lorem ipsum dolor sit amet.
			</p>
			<p><img src="#" alt="Image for about us"/></p>
			<p>
				Lorem ipsum dolor sit amet, consetetur sadipscing elitr, 
				sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, 
				sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. 
Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. 
Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod 
tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. 
At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
no sea takimata sanctus est Lorem ipsum dolor sit amet.
			</p>
		</div>
	</div>
		<div class="center-box row-colrow">
		<div class="part-1">
			<h2>More Headers...</h2>
			{{#link-to 'comic.intro' class='button mt-1'}}Read Comic{{/link-to}}
		</div>
		<div class="part-1">
			<div class="content-box">
				<h3>So many headers...</h3>
				<p>Content</p>
				<h3>Too many headers</h3>
				<p>And I will never read them</p>
			</div>
		</div>
	</div>
</section>


{{outlet}}
