<header class="top-header">
<nav class="main-nav">
<a href="#">Start</a>
<a>Comic</a>
<a href="/about">About</a>
<a>Contact</a>
</nav>
</header>
<main class="main-section">
{{outlet}}
</main>
<footer class="main-footer">
</footer>
