<section class="contactpage">
<div class="row-col fullsize">
	<div class="center-box">
		<div class="part-1">
			<h1>Nice to hear from you!</h1>
		</div>
	</div>
</div>
<div class="row-col fullsize">
	<div class="center-box row-colrow">
		<div class="part-2">
			<div class="contactform">
				<div><input name="name" placeholder="Your Name" autocomplete="on" required /></div>
				<div><input name="e-mail" placeholder="E-Mail Adress" autocomplete="on" required /></div>
				<div><input name="subject" placeholder="Your message subject" autocomplete="on" required /></div>
				<div><textarea name="textarea" rows="5" cols="70" placeholder="Your Message" required></textarea></div>
				<div><a href="#" onclick="" class="button wide">Send</a></div>
			</div>
		</div>
		<div class="explain part-1">
			<div class="">
				<p>{{fa-icon "check" size=1}} Lorem lirem upsum</p>
				<p>{{fa-icon "check" size=1}} Lorem ipsum lorem ipsum</p>
				<p>{{fa-icon "check" size=1}} Lorem ipsum lorem ipsum</p>
			</div>
		</div>
	</div>
</div>
</section>



