
<section class="fullsize">
<div class="center-box row-col">
	<div class="part-1">
		<h2 class="news-title">{{title}}</h2>
	</div>
	<div class="part-1">
		<div class="content-box">
			<p>{{articleContent}}</p>
		</div>
	</div>
</div>
</section>



{{outlet}}
