<div class="newspage">
<section class="fullsize glass">
<div class="center-box row-colrow">
<div class="part-1">
<h1 id='title' class="headline">Welcome to Dee</h1>
</div>
</div>
</section>
<section class="fullsize">
<div class="center-box row-col">
	<div class="part-1">
		<p class="center"><strong>Dee is a 2015 web comic project illustrating the story of 
		Joshua who finds himself thrown into a world he would have 
		never imagined to visit before. Follow him on his journey as
		soon as the dusk falls:</strong></p>
		<p class="center">{{#link-to 'comic.intro' class="button"}}Read Comic{{/link-to}}</p>
	</div>
</div>
</section>
{{#each}}
<section class="fullsize milk">
<div class="center-box row-col">
	<div class="part-1">
		<h2 class="news-title">{{title}}</h2>
	</div>
	<div class="part-1">
		<div class="content-box">
			<p>{{short-abstract articleContent}}
			{{#link-to 'news-item' id class="link"}}more{{/link-to}}</p>
		</div>
	</div>
</div>
</section>
{{/each}}
<section class="fullsize solidfoot">
<div class="center-box row-row">
<div class="part-1">
<p class="center light-1">Want to start reading the comic just now? Have a try!</p>
<p class="mt-2">{{#link-to 'comic.intro' class="button light-1"}}Read Comic{{/link-to}}</p>
</div>
</div>
</section>
</div>

{{outlet}}
