<section class="fullsize teaseme">
<div class="center-box">
<div class="part-1">
<p class="bio-code">
<!-- M89636.1 HUMMAOAB Human monoamine oxidase A (MAOA)  -->
{{#each}}
{{ghost-typer ghost-nts=nts}}
{{/each}}
<span class="typing-rod" id="typing-rod"></span></p>
</div>
</div>
</section>
{{outlet}}
