/*Animations*/
@keyframes fade-in {
	0%{
		opacity: 0; }	
	50% {
		opacity: 1;	}	
	100%{
		opacity:0;}
}
@keyframes fade-in-2{
	0%{
		opacity: 0; }	
	10% {
		opacity: 1;	}
	30%{
		opacity: 0.8;}
	40%	{
		opacity: 0.6;}
	60%{
		opacity:0;}
}
@keyframes blink {
	0%{
		border-left-color: transparent; }	
	20% {
		border-left-color: $light-1;	}	
	40%{
		border-left-color: $light-1;	}
	0%{
		border-left-color:transparent;}
}
@keyframes typing {
    from { width: 50% }
    to { width:0 }
}
