/* Containers CSS File */
/* ------------------- */
/*
----------------------------
C1. Mixins
C2. Models

*/
  
/* C1. Mixins */ 
@mixin clear{
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
@mixin centered{
	margin: 0 auto;
	@include clear;
}
@mixin flex{
	
	display: -webkit-flex;
	display: flex;
	flex-direction: column;	
	@media screen and (min-width: $tab) {	
		flex-direction: row;
	}	
	@media screen and (min-width: $desk) {		
	}

}
@mixin flex-col{
	
	display: -webkit-flex;
	display: flex;
	flex-direction: column;	

}
@mixin flex-row{
	
	display: -webkit-flex;
	display: flex;
	flex-direction: row;	

}

@mixin fullwidth{
	
	width: $width-main;
	@media screen and (min-width: $desk) {	
		width: $width-main-desk;
	}

}
/* Testing */
/*body{
	background-color: #676767;
}*/
/* C2. Models */
*, *:after, *:before {
	@include vendor(box-sizing, border-box);
}
/* C3. Layout */
.row{
	@include clear;
}
.row-col{
	@include clear;
	@include flex-col;
}
.row-row{
	@include clear;
	@include flex-row;
}
.row-colrow{
	@include clear;
	@include flex;
}
.fullsize, .halfsize{
	flex: 1;
}
.fullsize{
	padding: $pad-3 0;
	background-color: $bg-color-1;
}
.fullsize:nth-child(2n+2){
	background-color: $bg-color-3;
}
@for $num from 1 through 13{		
	.part-#{$num}{
		flex: $num;
		padding: $pad-1;
	}	
}
.center-box{
	flex: 1;
	@include fullwidth;
	@include centered;
	margin: $mar-1 auto;
	background-color: $transpa;

}
.center-box-fill{
	flex: 1;
	@include fullwidth;
	@include centered;
	margin: $mar-1 auto;
	background-color: $bg-color-1;
}


