/*variables*/
$gp: "";

/* Helper classes */
/*Margins*/
.mt-1{
 margin-top: $mar-1;
}
/*Colors*/
.color-1{
	color: $color-1;
}
.color-2{
	color: $color-2;
}
.color-3{
	color: $color-3;
}

/* Navigation */
.top-header{
	width: 100%;
	@include centered;
	background-color: $bg-color-2;
	z-index: 3;
	}
.main-nav{
	@include centered;
	@include flex;
	@include fullwidth;
	padding: 0 $pad-1;
	a{
		flex: 1;
		text-decoration: none;
		text-align: center;
		padding: $pad-1;
		background-color: $bg-color-2;
		
		&:hover{
			background-color: $bg-color-3;
			color: $light-3;
		}
		&.active{
			background-color: $bg-color-1;
			color: $dark-1;
		}
		@media screen and (min-width: $desk) {	
			font-size: $fs-3;
			padding: $pad-2;
		}
	}
}
.clip{
	color: $light-1;
	width: $pad-2;
	background-color: $bg-color-2;
	padding: $pad-1/3;
	position: fixed;
	top: -$pad-1;
	border-radius: $brad;
	cursor: pointer;
	transition: all 0.2s ease-in;
	z-index: 4;
	
	@media screen and (min-width: $desk) {	
		margin-left: $pad-1;
	}
	
	&:hover{
		color: $light-3;
	}
	
	.clipped-down &{
		transform: rotate(180deg);
		top: $mar-3;
		
		.fa-sort-desc{
			/*transition: line-height 0.3s ease-in;*/
			line-height: $brad;
		}
	}
}
.clipped-down{
	width: 100%;
	position: relative;
}
.headerview{
	background-color: transparent;
}
.midheader{
	width: 100%;
	background-color: $bg-color-1;
	z-index: 3;
}
.subnav{
	width: 60%;
	padding: 0 $pad-2;
	a{
		flex: 1;
		text-decoration: none;
		text-align: center;
		padding: $pad-1/2;
		background-color: $bg-color-1;
		
		&:hover{
			background-color: $bg-color-3;
			color: $light-3;
		}
		&.active{
			background-color: $bg-color-3;
			color: $dark-1;
		}
		@media screen and (min-width: $desk) {	
			font-size: $fs-2;
			padding: $pad-1;
		}
	}
	@media screen and (min-width: $desk) {	
		padding: 0 $pad-3;
	}
}



/* Main Parts */
.wrapper{
	background-color: $bg-color-1;
}
.main-section{
	@include centered;
	@include flex-col;
	//width: $width-main;
	background-color: $bg-color-1;
}
/* Footer */
.main-footer{
	@include centered;
	background-color: $bg-color-2;
	padding:  0;
	
	.center-box{
		margin-top: 0;
		margin-bottom: 0;	
	}
	
	ul{
		list-style-type: none;
		text-align: center;
		@media screen and (min-width: $tab) {
			text-align: left;
		}	
		.footer-title{
			color: $light-1;
			font-weight: bold;
			font-size: $fs-2;
			margin-bottom: $mar-1;
		}		
		li{
			margin-bottom: $pad-1;		
		}		
		a{
			color: $light-1;
			text-decoration: none;
			&:hover{
				color: $light-2;
			}
		}
		&.social{
		
			.footer-title{
				margin-right: $mar-1;
			
			}
			
			i {
				letter-spacing: $mar-1;
				margin-top: - $pad-1;
				line-height: $fs-8;
				@media screen and (min-width: $tab) {
					font-size: 3em;
					line-height: $fs-6;
				}
			
			}
			.fa-google-plus{
				@media screen and (min-width: $tab){
					font-size: 2.6em;
					line-height: 1.5em;
				}
			}
		
		}
	}
}
/* Buttons */
.button{
	color: $color-1;
	width: $mar-2 * 4;
	display: block;
	font-size: $fs-2;
	font-weight: bold;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding: $pad-1;
	background-color: transparent;
	border: 6px solid $bg-color-4;
	transition: all 0.3s ease-in;
	
	&:hover{
		color: $bg-color-1;
		background-color: $bg-color-4;
	}
}
/* Content Elements */
.content-box{
	border-style: solid;
	border-width: 3px;
	border-color: $light-1;
	border-radius: 3px;
	padding: $pad-1;
	
	.fullsize:nth-child(2n+2) &{
		border-color: $dark-1;
		background-color: $bg-color-1;
	}
}
.content-box-fill{
	background-color: $light-1;
	border-radius: 3px;
	padding: $pad-2;
	
	.fullsize:nth-child(2n+2) &{
		background-color: $dark-1;
	}
}
.slider-frame{
	height: $height-min *1.5;
	overflow: hidden;
	
	@media screen and (min-width: $tab){
		height: $height-min;
	}
}
.slide-roll{
	width: 100%;
	height: 200%;
	position: relative;
	top: 0;
	transition: top 0.5s ease-in;
}
.intro-slide{
	width: 100%;
	/*min-height: $height-min;*/
	height: 50%;
	display: block;
	position: relative;
	
	&:nth-child(2n+1) .content-box-fill{
		background-color: $bg-color-3;
		
		p, .slidernav{
			color: $bg-color-1;
		}
	}
	
	&:first-child .fa-arrow-circle-up,	
	&:last-child .fa-arrow-circle-down{
		font-size: 3em;
		line-height: 0.2em;
		cursor: default;
	}
	
	&:first-child .fa-arrow-circle-up:before,	
	&:last-child .fa-arrow-circle-down:before{
		content:".";
	}
	
	p{
		font-size: $fs-2;
		line-height: $lh-2;
	}
	
	.slidernav i{
		cursor: pointer;
		transition: font-size 0.3s ease-in;	
	}
	
	.description{
		margin-top: $mar-3;
		
		@media screen and (min-width: $tab){
			margin-top: 0;
		}
	}
}
/*Text Elements */
.news-title{
	color: $color-2;
	
	.fullsize:nth-child(2n+2) &{
		color: $bg-color-1;
	}
}

.ghost-phrase{
	font-size: $fs-3;
	color: $light-1;
	font-style: italic;
	text-align: right;
	opacity: 0;
	animation-duration: 2.8s;
	animation-name: fade-in;
	animation-iteration-count: infinite;
	animation-direction: normal;
}
	@for $num from 1 through 5{	
	
		$gp: if($gp == '', '.ghost-phrase', $gp + ' + .ghost-phrase');
		#{$gp} {
			padding-right: $mar-1 * 2 * 2/$num;
			animation-delay: 3s * $num;
			
			@media screen and (min-width: $tab){	
				#{$gp}{
				padding-right: $mar-1 * 2 * 2/$num + $mar-1;
				}
			}
		}
	
	}

.ghost-lines{
	position: absolute;
	width: $width-main-desk;
	opacity: 0;
	animation-duration: 1.8s;
	animation-name: ghost-fade;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-delay: 2s;
	-moz-animation-fill-mode: forwards;
	
	
	@media screen and (min-width: $tab){
		left: $width-half-desk/2;
		width: $width-half-desk;
	}
	
	&.wipe-up{
		top: -10%;
		opacity: 0.5;	
	}

}
.ghost-subline{
	text-align: right;
	color: $light-1;
	position: relative;

	
	&.gs-1{
		font-size: $fs-3;
		top: $width-main-desk *1.3;
		left: $mar-3;
		@media screen and (min-width: $tab){
			font-size: $fs-3;
			top: $width-half-desk + 14%;	
		}
	}
	&.gs-2{
		font-size: $fs-5;
		top: $width-main-desk + 5%;
		left: $mar-4;
		@media screen and (min-width: $tab){
			font-size: $fs-5;
			top: $width-half-desk + 18%;
			left: $width-half-desk + 20%;		
		}
	}
	&.gs-3{
		font-size: $fs-4;
		top: $width-main-desk + 20%;
		left: $mar-2;
		@media screen and (min-width: $tab){
			top: $width-half-desk + 30%;
			font-size: $fs-4;
			left: $mar-1;		
		}
	}
}
	
.teaseme{
	background-color: $bg-color-2;
	
	.bio-code{
	
	
	    .nucleotides, .genename{
		color: $light-1;
		font-size: $fs-4;
		font-weight: 800;
		font-family: monospace, sans-serif;
		line-height: $lh-3;
		letter-spacing: 0.5em;
		text-align: justify;
		word-break: break-all;
		text-justify: inter-word;
		}
		
		
		.typing-rod{
			border-width: 2px;
			border-style: solid;
			border-color: transparent;
			width: 2%;
			height: $fs-4;
			color: $light-1;
			font-size: $fs-4;
			line-height: $lh-3;
			display: inline;
			background-color: $bg-color-2;
			animation-duration: 0.8s;
			animation-name: blink;
			animation-iteration-count: infinite;
			animation-direction: normal;	
		}
	}
	

}
/* Contact Page */
.contactpage{
.contactform{
	width: 100%;
	input, textarea,{
		width: 100%;
		font-size: $fs-3;
		padding: $pad-1/2 $pad-1;
		margin-top: $pad-1;
	}
	
	.button{
		color: $bg-color-1;
		margin-top: $pad-1;
		width: 100%;
	}
	

}
	.explain {
		order: -1;
		
		p{
		font-size: $fs-2;
		color: $bg-color-1;
		}
	}

}
.impressum{
	
	.disclaimer{
		p{
		font-size: $fs-1;
		color: $light-1;
		}
	}
	
	.author-data{
		p{
		font-size: $fs-2;
		}
	}


}




