/* Navigation */
.top-header{
	@include centered;
	background-color: $bg-color-2;
	}
.main-nav{
	@include centered;
	@include flex;
	width: $width-main;
	padding: 0 $pad-1;
	a{
		flex: 1;
		text-decoration: none;
		text-align: center;
		padding: $pad-1;
		background-color: $bg-color-2;
		
		&:hover{
			background-color: $bg-color-3;
			color: $light-3;
		}
		&.active{
			background-color: $bg-color-1;
			color: $dark-1;
		}
		@media screen and (min-width: $desk) {	
			font-size: $fs-3;
			padding: $pad-2;
		}
	}
}


/* Main Parts */
.wrapper{
	background-color: $dark-1;
}
.main-section{
	@include centered;
	@include flex-col;
	//width: $width-main;
	background-color: $bg-color-1;
}
/* Footer */
.main-footer{
	@include centered;
}
